.category-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    gap: 0.2rem;
}

.category-item {
    border: 1px solid;
    padding: .5rem;
    transition: .2s;
    cursor: pointer;
}

.category-item:hover {
    transform: scale(1.03);
}

input[type="checkbox"]:checked+.category-item {
    background-color: var(--primary-color);
}

.category-item-content {
    margin-left: 1rem;
}

.selection-reset {
    border: 1px solid;
    border-radius: .5rem;
    width: 8rem;
    padding: 0.5rem;
    cursor: pointer;
    text-align: center;
    margin: auto;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    transition: .2s;
    box-shadow: inset -2px -2px 6px rgba(0, 0, 0, 0.50);
}

.selection-reset:hover {
    background-color: var(--primary-color);
}

.selection-reset:active {
    background-color: var(--primary-color);
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.50);
}

@media (min-width: 768px) {

    .category-container {
        width: 100%;
        margin-left: 1.5rem;
        font-size: 1.3rem;
    }
}


@media (min-width: 980px) {

    .category-container {
        width: 75%;
        margin-top: 1rem;
    }
}

@media (min-width:1184px) {}