.list-container {
    gap: 2rem;
}

.list-header {
    margin-top: 2rem;
    font-family: var(--ubuntu);
    margin-left: 3rem;
    font-size: 1.5rem;
    white-space: nowrap;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 2rem;
    margin-top: 1rem;
    gap: 0.5rem;
}

.card-header {
    font-size: 1.3rem;
    background-color: var(--primary-color);
    border-radius: .3rem .3rem 0 0;
}

.card-title {
    font-size: 1.2rem;
    font-style: italic;
}

.card,
.card-header {
    display: grid;
    grid-template-columns: .15fr 1fr .3fr;
    width: 100%;
    padding: .75rem;
    gap: 1rem;
    align-items: center;
    font-size: 1.2rem;
}

.card-header {
    font-size: 1.3rem;
    background-color: var(--primary-color);
    border-radius: .3rem .3rem 0 0;
}

.card {
    background-color: var(--senconrady-bg-color);
    transition: 0.2s;
    cursor: pointer;
    border: 1px solid;
    border-radius: .3rem;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px var(--bg-color-dark)
}




@media (min-width: 768px) {

    .list-container {
        display: grid;
        grid-template-columns: 1fr .5fr;
        margin: 0 1.5rem;
    }

    .list-header {
        font-size: 1.5rem;
    }

    .card,
    .card-header {
        width: 90%;
        padding: 1rem;
    }

}

@media (min-width: 980px) {


    .list-header {
        font-size: 1.4rem;
    }

    .card-title {
        font-size: 1.3rem;
    }

    .card,
    .card-header {
        width: 90%;
        padding: 1rem;
        font-size: 1.3rem;
    }

    .card-header {
        font-size: 1.5rem;
    }
}


@media (min-width: 1184px) {
    .list-header {
        font-size: 2rem;
    }
}